*{
    color:white;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-kerning: auto;
    font-variation-settings:
      "wdth" 85.5;
}
header{
    position: sticky;
    top:0;
}
.Main-Nav{
    a{
        img{
            display: flex;
            width: auto;
            height: 40px;
            justify-content: center;
        }
    }
    overflow: hidden;
    background-color:#333;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height:50px;
    border-radius: 2px;
    
}
input{
    width:1000px;
    height: 30px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
    color:#333;
    border-radius: 4px;
   
}
a{
    font-weight: bolder;
    text-decoration: none;
    font-size: 30px;
    
}
a:hover{
    opacity: 0.7;
    color:#F5C518;
}
.by-genre,.by-actor,.by-year,.by-genre-super,.by-year-2014{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    flex-wrap: nowrap;

}

.movie-poster{
    height:200px;
    width: 150px;
}
.movie{
    display:flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
  
}


h1,h2,h3{
    font-weight: bold;
    text-align: center;
    font-kerning: normal;
}
h4{
    font-weight: bolder;
}


body{
    background-color: black;
    
}
.search-button {
    height: 35px;
    font-size: 16px;
    background-color:red;
    color: white;
    border-radius:4px;
}
.search-button:hover{
    background-color: #F5C518;
}
/* loader css */
.loader {
    display:none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    position:absolute;
    top: 50%;
    left: 50%;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



/* responsive screen design*/

/* Extra small devices (up until 425px) */
@media screen and (max-width: 425px) {
    h4{font-weight: bold;
        font-size: small;}
    h1 { font-size: medium;}
    p{ font-size: small;}

    /* flex breakpoint*/
    .by-genre,.by-actor,.by-year{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
   
   .Main-Nav{
    
    height: 20px;

    input{ width: 50px;
        height: auto;
        font-size: xx-small;
    }
    button{
        height: 20px;
        border-radius:4px;
        font-size: xx-small;
    }

    a{
        font-weight: normal;
        font-size: x-small;
        img{
            height: auto;
            width: 50px;
        }
    }
}

   .movie-poster{
       height: 150px;
       width: 100px;
   }
   
   footer{
       p{
           font-size: smaller;
       }
   }
}
@media screen and (min-width:425px) and (max-width:767px){
   /* content text */
    h1,h4,p{
        font-size: medium;
    }
     h4{font-weight: bold;}

    /* flex breakpoint*/
    .by-genre,.by-actor,.by-year{
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
   
   .Main-Nav{
    
    height: 35px;

    input {width: 120px;
        height: auto;
        font-size: x-small;
    }
    button{
        height: 20px;
        border-radius:4px;
        font-size: x-small;
    }

    a{
        font-weight: bold;
        font-size: small;
        img{
            height: auto;
            width: 75px;
        }
    }
}

   .movie-poster{
       height: 250px;
       width: 175px;
   }
   
   footer{
       p{
           font-size: smaller;
       }
   }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 768px) {
  h1,h4,p{
    font-size: larger;
  }
  
   /* flex breakpoint*/
   .by-genre,.by-actor,.by-year{
    flex-direction: row;
    justify-content: center;

}
    .Main-Nav{
            input{ width: 300px;
                height: auto;
                font-size: large;
            }
            button{
                height: 30px;
                border-radius:4px;
                font-size: large;
            }
       
     
        
        a{
            font-weight: bold;
            font-size: larger;
            img{
                height: auto;
                width: 130px;
            }
        }
        
    }

    .movie-poster{
        height: 300px;
        width: auto;
    }

    footer{
        p{
            font-size: medium;
        }
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {

    * { font-size: large;
        font-weight:normal;}

   h4{font-weight: bold;}

   h1 { font-size: x-large;}

   input{ width: 400px;
       font-size: large;
   }

   .Main-Nav{
    
       font-weight: bold;
       a{
        
           font-size: large;
       }
   }

   .movie-poster{
       height: 225px;
       width: 175px;
   }

   footer{
       p{
           font-size: medium;
       }
   }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    * { font-size: large;
        font-weight:normal;}

   h4{font-weight: bold;
    font-size: large;
}

   h1 { font-size: xx-large;}

   input{ 
       font-size: large;
   }

   .Main-Nav{
       font-weight: bold;
       a{
           font-size: x-large;
       }
   }

   .movie-poster{
       height: 250px;
       width: 200px;
   }

   footer{
       p{
           font-size: medium;
       }
   }

}